@import "@/common/styles/minxins";

.btn {
  @include resetBaseBtn;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: var(--border-radius-very-small);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 20px;
  transition: opacity var(--transition-duration-short);

  &:hover {
    opacity: 0.8;
  }
}
