@import "@/common/styles/minxins";
@import "@/common/styles/size";

.btn {
  @include resetBaseBtn;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: var(--border-radius-very-small);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 20px;
  transition: opacity var(--transition-duration-short);

  @include for-ip-down {
    font-size: 12px;
    line-height: 18px;
    padding: 6px 18px;
  }

  &:hover {
    opacity: 0.8;
  }
}
