@import "@/common/styles/size";
@import "@/common/styles/minxins";

#body {
  width: 100%;

  &.hidden {
    overflow: hidden;
  }
}

#app {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100vw;
  overflow-x: hidden;
}

.page-container {
  width: 100vw;
  overflow-x: hidden;
}

.page-content {
  padding-left: var(--page-content-padding);
  padding-right: var(--page-content-padding);
  max-width: calc(1200px + var(--page-content-padding) * 2);
  margin-left: auto;
  margin-right: auto;

  &--small {
    max-width: calc(980px + var(--page-content-padding) * 2);
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;

  @include for-ip-down {
    font-size: 20px;
    line-height: 28px;
  }
}

.title-value {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-grey-4);
  margin-left: 20px;
}

.loader-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loader-center-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
