@import "@/common/styles/size";
@import "@/common/styles/minxins";

.user {
  &__title {
    margin-bottom: 30px;
  }

  &__info-wrapper {
    display: flex;
  }

  &__info-img {
    width: 90px;
    height: 90px;
    margin-right: 20px;
    border-radius: 100%;
    object-fit: contain;
  }

  &__info-nickname {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 6px;
  }

  &__info-follow-wrapper {
    display: flex;
  }

  &__info-follow-item {
    @include resetBaseBtn;
    margin-bottom: 6px;
    display: flex;
    align-items: center;

    &:hover {
      .user__info-follow-caption {
        color: var(--color-green);
      }
    }

    & + & {
      margin-left: 10px;
    }
  }

  &__info-follow-num {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    margin-right: 4px;
  }

  &__info-follow-caption {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: color var(--transition-duration-fast);
  }

  &__info-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-grey-4);
  }
}
